ipynb_checkpoints/*
.ipynb_checkpoints/string generation + tesseract-checkpoint.ipynb
.ipynb_checkpoints/Untitled — копия-checkpoint.ipynb
System Volume Information/IndexerVolumeGuid
System Volume Information/WPSettings.dat
